.label-size{
  font-size: 17px !important;
  margin-top: 1% !important
}
.input-vertical-space{
  margin-top: 1% !important;
}
.btn-offset{
  margin-left:49% !important;
}

.form-group{
  margin-top:2% !important;
}
.dropdown-size{
  width: 20% !important;
}
