<script src="https://code.jquery.com/jquery-3.5.1.js"   integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="   crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function() {
  $("#updateBtn").click(function() {

    $.ajax({
      type : 'POST',
      url : "{{url_for('dashboard_update')}}",
      data : {'update_status':JSON.stringify('update')}, //data type has to be string
      success:function(response){
         console.log("success");
       }
    });

  });

});
</script>
<meta id="my-data" data-name="{{name}}" data-other="{{other}}">
<style>
  .offset-md-5{
    margin-left:80% !important;
  }
  .offset-md-2{
    margin-left:19% !important;
  }
  .offset-md-1{
    margin-left:2.33% !important;
  }
  .col-md-n{
    width:33% !important;
  }
  .col-md-x{
    width:41.5% !important;
  }
  .card-title{
    color:#6c757d;
    text-align:center;
  }
</style>

{% extends 'base.html' %}

{% block content %}

<div class="col-md-2 offset-md-5" style="margin-top:1.3%;margin-bottom:1%;">
  <a id="updateBtn" type="button"  class="btn btn-info"  style="text-align:center;text-decoration:none;">Update</a>
  <a id="statusBtn" href="http://127.0.0.1:5000/webscrapestatus" type="button"  class="btn btn-info"  style="text-align:center;text-decoration:none;">Scrape Result</a>
</div>

<div class="shadow card col-md-5 offset-md-2" style="padding-left:0px;padding-right:0px;">
  <h5 class="card-header card-title">
    Webscrape Activity Timeline
  </h5>
  <div id="myTS">
  </div>
</div>

<div class="shadow card col-md-n offset-md-1" style="padding-left:0px;padding-right:0px;">
  <h5 class="card-header card-title">Outstanding Items to Scrape</h5>
  <canvas id="doughChart"style="width:340px;height:340px"></canvas>
</div >

<div class="shadow card col-md-4 offset-md-2" style="margin-top:1%;margin-bottom:1%;padding-left:0px;padding-right:0px;">
  <h5 class="card-header card-title" >Products Reviews Wordcloud</h5>
  <img src={{url}} alt="Chart" height="600" style="display:block;" />
</div>

<div class="shadow card col-md-x offset-md-1" style="margin-top:1%;margin-bottom:1%;padding-left:0px;padding-right:0px;">
  <h5 class="card-header card-title">Review Overview</h5>
  <canvas id="barChart"style="height:33%;"></canvas>
  <canvas id="barChart2"style="height:33%;margin-top:3%;"></canvas>
</div>

<input id="graphValue" type="hidden" value="{{webscrape_data}}">
<input id="barValue" type="hidden" value="{{review_contributors_data}}">
<input id="bar2Value" type="hidden" value="{{product_reviews_data}}">
<input id="doughnutValue" type="hidden" value="{{outstanding_data}}">

{% endblock %}

{% block scripts %}
  <script src="../static/js/doughnut.js"></script>
  <script src="../static/js/timeseries.js"></script>
  <script src="../static/js/bar.js"></script>
  <script src="../static/js/bar2.js"></script>
  <script>
    //disable link access to scrape status page when it has not been visited yet
    var myParam = location.search.split('webscrape_trigger=')[1] ? parseInt(location.search.split('webscrape_trigger=')[1]) : 0;

    if(myParam == 0){
      document.getElementById("statusBtn").classList.add("disabled");
    }else{
      document.getElementById("statusBtn").classList.remove("disabled");
    }

  </script>
{% endblock %}
