<meta id="my-data" data-name="{{name}}" data-other="{{other}}">
{% extends 'base.html' %}

{% block content %}
<div class="col-md-2 offset-md-9" style="margin-top:1%;">
  <a id="statusBtn" href="http://127.0.0.1:5000/webscrapestatus" type="button"  class="btn btn-info"  style="text-align:center;text-decoration:none;">Return to Scrape Status</a>
</div>

<div id="myTS" style="margin-top:0.6%;" class="col-md-6 offset-md-2" ></div>
<div class="col-md-3" style="margin-top:2%;">
  <canvas id="doughChart"style="width:340px;height:340px"></canvas>
</div >

<div class="col-md-6 offset-md-1" style="margin-top:1%;">
  <div style="color:#6c757d;font-size:20px;margin-left:40%;margin-top:1%;">Products Reviews Wordcloud</div>
  <img src={{url}} alt="Chart" height="600" style="display:block;margin-left:35%;" />
</div>

<div class="col-md-3" style="margin-top:1%;">
  <canvas id="barChart"style="height:250px;"></canvas>
  <canvas id="barChart2"style="height:250px;"></canvas>
</div>

<input id="graphValue" type="hidden" value="{{webscrape_data}}" >

{% endblock %}

{% block scripts %}
  <script src="../static/js/doughnut.js"></script>
  <script src="../static/js/timeseries.js"></script>
  <script src="../static/js/bar.js"></script>
  <script src="../static/js/bar2.js"></script>
  <script>
    //disable link access to scrape status page when it has not been visited yet
    var myParam = location.search.split('webscrape_trigger=')[1] ? parseInt(location.search.split('webscrape_trigger=')[1]) : 0;

    if(myParam == 0){
      document.getElementById("statusBtn").classList.add("disabled");
    }else{
      document.getElementById("statusBtn").classList.remove("disabled");
    }

  </script>
{% endblock %}
