<head>
  <link rel="stylesheet" href="../static/css/setting.css">
</head>

{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-4" style="margin-top: 2%;">
<form method="POST" action="/filescrapeconfig">
  <h3 style="color:#6c757d;">File Directory Setting</h3>

  <div class="form-group">
    <label for="name">Input file path</label>
    <br/>
    <small class="form-text text-muted">Input directory for scrapy tool to retrieve input data to perform web scraping</small>
    <input type="text" name="input_path" class="form-control" value ="{{input_path}}" required>
  </div>

  <div class="form-group">
    <label for="name">Output file path</label>
    <br/>
    <small class="form-text text-muted">Output directory for scraped items</small>
    <input type="text" name="output_path" class="form-control" value ="{{output_path}}" required>
  </div>

    <div class="form-group">
      <label for="">Consolidated file path</label>
      <br/>
      <small class="form-text text-muted">Output directory of combined scraped items</small>
      <input type="text" name="con_path" class="form-control" value ="{{con_path}}" required>
    </div>

    <div class="form-group">
      <label for="">Log file path</label>
      <br/>
      <small class="form-text text-muted">Output directory for log files</small>
      <input type="text" name="log_path" class="form-control" value ="{{log_path}}" required>
    </div>

    <div class="form-group">
      <label for="">Tracker path</label>
      <br/>
      <small class="form-text text-muted">Tracker directory to log date of scraped review</small>
      <input type="text" name="tracker_path" class="form-control" value ="{{tracker_path}}" required>
    </div>
<button type="submit" class="btn btn-primary" style="margin-top:2%">Submit</button>
</form>
{% endblock %}
